.modal-container {
  z-index: -1;
  position: fixed;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3335;
  opacity: 0;
  color: var(--active);
  transition: opacity 0.25s ease-in-out;
}

.modal-container.modal-shown {
  z-index: 1000;
  opacity: 1;
}

.modal-body {
  max-width: 50vw;
  max-height: 80vh;
  width: fit-content;
  padding: 16px;
  border-radius: 10px;
  background-color: #222;
}

.modal-title {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.edit-message-modal .modal-body {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto auto;
  min-width: 300px;
}

.edit-message-modal .modal-title {
  grid-row: 1;
  grid-column: 1 / -1;
}

.edit-message-input {
  grid-row: 2;
  grid-column: 1 / -1;
}

.edit-message-button,
.edit-message-close {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.25s ease-in-out;
}

.edit-message-button {
  grid-area: 3 / 3;
  background-color: #333;
}
.edit-message-close { grid-area: 3 / 2; }

.edit-message-button:hover,
.edit-message-button:focus,
.edit-message-close:hover,
.edit-message-close:focus { background-color: #444; }
