.preloader {
  --preloader-color: #aaa;
  width: 100px;
  height: 100px;
}

.preloader,
.preloader-main,
.preloader-point { transform: translate(-50%, -50%); }

.preloader-main,
.preloader-point {
  border-radius: 50%;
}

.preloader-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  background: var(--preloader-color);
  animation: main-animation infinite linear;
}

.preloader-point {
  position: absolute;
  width: 25%;
  height: 25%;
  background: var(--preloader-color);
  animation: point-animation infinite linear;
}

@keyframes main-animation {
  0% {
    transform: translate(-50, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(180deg);
  }
}

@keyframes point-animation {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  75%, 100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

.chat.loading .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}
