.header {
  padding: 10px 15px;
  display: grid;
  background: #222;
  grid-template-columns: auto auto 1fr auto;
  grid-gap: 5px 15px;
  font-family: "Open Sans", sans-serif;
}

.header img {
  vertical-align: text-top;
  margin-right: 5px;
}

.header-users,
.header-messages,
.header-date { font-size: 0.8rem; }

.header-title {
  grid-column: 1 / -1;
  margin: 0;
  color: var(--active);
  font-size: 1.25rem;
}

.header-users { grid-area: 2 / 1; }
.header-messages { grid-area: 2 / 2; }
.header-date { grid-area: 2 / 4; }
