.message,
.own-message {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.message-body {
  align-self: flex-start;
  grid-area: 1 / 2;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0 10px;
  overflow: auto;
  width: fit-content;
  max-width: 40vw;
  padding: 10px;
  border-radius: 5px;
  color: var(--active);
}

.message-edited,
.message-time { font-size: 0.8rem; }

.message-edited { grid-area: -1 / -2; }
.message-time { grid-area: -1 / -1; }

.message-text {
  grid-column: 1 / 5;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.own-message { grid-template-columns: 1fr auto auto; }

.own-message .message-buttons {
  grid-column: -2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-auto-flow: column;
}

.own-message .message-body {
  grid-column: -1;
  grid-template-rows: auto auto;
  background-color: #444;
}

.own-message button {
  border-radius: 5px;
  padding: 7px;
  transition: background-color 0.25s ease-in-out;
}
.own-message button:hover,
.own-message button:focus { background-color: #333; }

.message .message-user-avatar {
  grid-area: 1 / 1;
  position: sticky;
  top: 0;
  border-radius: 50%;
}

.message .message-body {
  grid-template-rows: auto auto auto;
  background-color: #333;
}

.message .message-user-name {
  font-size: 1.25rem;
  grid-row: 1;
  margin: 0 0 5px;
}

.message .message-text { grid-row: 2; }

.message .message-like,
.message .message-liked {
  grid-area: 1 / -1;
  place-self: center;
  transition: filter 0.25s linear;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.message .message-like { filter: grayscale(100%); }

.message .message-like:hover,
.message .message-liked:hover,
.message .message-like:focus,
.message .message-liked:focus { animation: heart 1s infinite linear; }

@keyframes heart {
  0%, 50% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
